apiVersion: v1
metadata:
  name: {{ cluster_name | to_json }}
baseDomain: {{ ocp4_base_domain | to_json }}
controlPlane:
  name: master
  hyperthreading: Enabled
  platform:
    aws:
      type: {{ master_instance_type | to_json }}
    # zones: {{ openshift_controlplane_aws_zones }}
  replicas: {{ master_instance_count | to_json }}
compute:
- name: worker
  hyperthreading: Enabled
  platform:
    aws:
      type: {{ worker_instance_type | to_json }}
      # zones: {{ openshift_machineset_aws_zones | unique | to_json }} 
  replicas: {{ worker_instance_count | int }}
networking:
  clusterNetwork:
  - cidr: {{ ocp_cluster_cidr | default('10.128.0.0/14') }}
    hostPrefix: 23
  machineCIDR: {{ ocp4_machine_cidr | default('10.0.0.0/16') | to_json }}
  serviceNetwork:
  - {{ ocp_service_network | default('172.30.0.0/16') }}
  networkType: OpenshiftSDN
platform:
  aws:
    region: {{ aws_region_final | default(aws_region) | to_json }}
publish: External
pullSecret: '{{ ocp4_pull_secret }}'
sshKey: {{ idrsapub.content | b64decode | to_json }}
